@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

body {
  font-family: roboto, sans-serif;
}

p {
  margin-bottom: 0.2em; /* Adjust this value to reduce the space */
}

.header {
 background-color: #1F2937;
 font-size: 16px;
 display: flex;
 justify-content: space-around;
 padding: 8px;
 align-items: center;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 24px;
}

a {
  text-decoration: none;
  color: #E5E7Eb;
}

.leader {
 display: flex;
 background-color: #1F2937;
 font-size: 16px;
 justify-content: space-around;
 align-items: center;
 text-align: left;
}

.parent {
  max-width: 500px;
}

.child {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.childer {
  font-size: 18px;
  color: #E5E7Eb;
}

.placeholder {
  border: 1px solid #1F2937 ;
  background: #B2BEB5;
  padding: 100px;
  margin-bottom: 75px;
  color: #F9FAF8;
}

.butto {
  margin-bottom: 150px;
  margin-top: 10px;
  background: #3882F6;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid royalblue;
  color: white;
  font-weight: bold;
}

.title {
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
  color: #1F2937;
  margin-top: 35px;
  margin-bottom: 45px;
}
.container {
  text-align: center;
  display: flex;
  color: grey;
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 80px;
}

.info {max-width: 150px;}
.text {margin-top: 10px;}

.pic {
  border: 4px solid #3882F6;
  padding: 70px;
  border-radius: 15px;
}

.quote {
  background: #E5E7Eb;
  color: #1F2937;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 300px 50px 300px;
  justify-content: center;
}

.actual {
  font-weight: 100;
  font-size: 36px;
  font-weight: 300;
}

.speaker {
  font-size: 20px;
}

.flier {
  display: flex;
  background: #3882F6;
  margin: 90px 170px 90px 170px;
  justify-content: space-around;
  align-items: flex-end;
  border-radius: 8px;
  padding: 25px 100px 45px 100px;
  color: #F9FAF8;
}

.inner {
  display: flex;
  flex-direction: column;
}

.secbut {
  border-radius: 6px;
  background: #3882F6;
  color: #F9FAF8;
  border: 2px solid #F9FAF8;
  font-size: 18px;
  padding: 5px 25px 5px 25px;
}

.footer {
  background: #1F2937;
  color: #E5E7Eb;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 35px;
}
